body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ccc;
  font-family: sans-serif;
}

.App {
  background: #FFF;
  width: 30%;
  margin: 50px auto;
  padding: 30px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Add-Todo {
  background: green;
  color: #FFF;
  padding: 10px;
  border-radius: 2px;
}

.Todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-left: 5px solid green;
}

.Todo * {
  margin: 5px;
}

.Todo a {
  text-decoration: none;
}

.completed {
  border-left: 5px solid red;
}

.completed h2 {
  text-decoration: line-through;
  text-decoration-color: black;
  color: #999;
}

.Form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
  padding: 20px;
  border: 2px solid #ccc; 
  border-radius: 2px;
}

.Form-Group {
  display: flex;
  flex-direction: column;
}

.Error {
  color: red;
  font-size: .7rem;
}


.Form input[type=text] {
  height: 20px;
  width: 300px;
}

.Form label {
  margin-right: 5px;
}

.Save-Button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 10px;
  
}

.clicked {
  background: red;
}

.Filter {
  margin: 10px 0;
  padding: 2px;
  font-size: 1rem;
}